APP_ENV=local
APP_DEBUG=true
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

FILESYSTEM_DRIVER=local

HOOK_URL="http://my-host:9000/gitlab/hook"

JIRA_HOST="https://your-jira.host.com"
JIRA_USER="jira-username"
JIRA_PASS="jira-password"

GITLAB_HOST="https://your-gitlab.host.com"
GITLAB_TOKEN="gitlab-private-token-for-api"
